<% if customer_signed_in? %>
  <div class="form-group">
    <%= button_to "Log out", destroy_customer_session_path, method: "delete", class: 'btn btn-lg btn-danger btn-block' %>
    </div>
  <div class="form-group">
    <%= link_to "Your blog", 'articles#index', :format => false , class: 'btn btn-lg btn-success btn-block' %>
    </div>
<% else %>
  <div class="form-group">
    <%= link_to "Sign up", new_customer_registration_path, class: 'btn btn-lg btn-success btn-block' %>
    </div>
<% end %>