<tr>
  <td>
    <%= link_to mail_template.name, admin_mail_template_path(mail_template) %>
    <div class="action">
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil"), {action: "edit", id: mail_template.id}, class: "btn btn-primary btn-xs btn-action" %>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-trash"),  admin_mail_template_path(mail_template),  method: :delete, data: {confirm: t(".sure")}, class: "btn btn-danger btn-xs btn-action" %>
    </div>
  </td>
  <td><%= mail_template.subject %></td>
</tr>