<%- content_for :page_heading do %>
  <h2>
    <i class="glyphicon glyphicon-large glyphicon-th-list"></i>
    <%= "#{t ".edit_mail_template"}: #{@mail_template.name}" %>
  </h2>
<% end %>

<%= render "form" %>